<!-- the matches card that shows the history of all the matches the user played
-->

<div class="history-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="card-content-right">
            <h2 class="mdl-card__title-text">Match History</h2>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">

    </div>
    <div class="mdl-card__menu">
        <a id="history-image" class="card-contents-image cclink" target="_blank" href='https://www.flickr.com/photos/dcjohn/30515698/in/photolist-3GpfJ-9cChrd-Tc3gbq-cy4yMm-6MQxFj-4Lbxc6-6rgCFX-UKVgXe-7GP2Tu-ocAvhG-6rkLTf-dStWUo-9DiXYG-93RUp7-7HYdmW-aNBNu-8pCLjG-pPRvZC-9LhDjG-61SMVA-bXPwjh-7GQXUj-5AUXLs-TFjLEZ-fTZrBz-aoks6h-2RukxM-ncwjm6-nhbwwB-phJo4-bvtJMR-kPs7SB-4LsLhF-6jhQWe-db1kNd-arFVFJ-oawag3-kWMYuS-a1qrkG-5Fof2j-4WhMyT-5B9UFo-oSVBSo-9cqrvU-ehj8ny-7mMRz3-gkqdvW-7g8TXm-9LhDkQ-CwDrNv'>
            <img class="ccoverlaywhite" />
            <div class="mdl-tooltip" data-mdl-for="matches-image">
                &quot;tennis&quot; (CC BY 2.0) by dcJohn
            </div>
        </a>
    </div>
    <div id='calendar'></div>
</div>