<!-- the welcome card shown on the front page when the user isn't logged in -->
<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
</div>
<div class="mdl-card__supporting-text">
    In order to access all the features of this site, please sign in from the menu to your left...
</div>
<div class="mdl-card__actions mdl-card--border">
    <a class="sign-in-button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                          Sign-in
                        </a>
</div>
<div class="mdl-card__menu">
    <a class="cclink" target="_blank" href='https://www.flickr.com/photos/krbo_sb/33309416641/' title="&quot;Waiting...&quot; (CC BY 2.0) by krbo_sb">
        <img class="ccoverlay" />
    </a>
</div>