<!-- the friends card that shows the latest friends by members-->
<div class="friends-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="card-content-right">
            <h2 class="mdl-card__title-text">Friends</h2>
        </div>
    </div>
    <table style="padding-left: 0px; padding-right: 0px" class="mdl-card__supporting-text">
        <tbody>
            <tr style="vertical-align: top;">
                <td id="friends-card-list" style="width:420px">
                    <div id="friends" class="card-contents">
                        <span id="friend-filler"></span>
                    </div>
                </td>
                <td id="friends-message-list">
                    <div id="messages" class="card-contents">
                        <span id="message-filler"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mdl-card__menu">
        <a id="friends-image" class="card-contents-image cclink" target="_blank" href='https://www.flickr.com/photos/calliope/2219045534/in/photolist-4o6bVL-fKUBju-fKBqgi-fKUCV7-xpvDw-nAuTVv-363xdy-efT54Y-5RDmdC-fKUCnw-fKBgPM-fKBgY8-fKBh6z-62Kged-fKUzQ1-fKBsGa-fKBu96-fKC2d8-xpvt4-fKBzWx-dyBMyP-fKUaGL-fKBkNk-fKU3xf-fKUFvs-fKU4DQ-fKU56Y-fKBr4X-fKC2M4-fKBxpz-fKU7am-fKTXxC-fKU5c5-fKTSKs-fKBYgZ-fKU6HW-fKBDFX-fKBvVZ-fKC5xR-bAXYtE-fKBCCR-fKUjEo-fKU7zw-fKBCfD-fKUFbm-fKTZWG-fKBs3K-fKBmXM-fKU6Fq-fKBvcV'>
            <img class="ccoverlay" />
            <div class="mdl-tooltip" data-mdl-for="friends-image">
                &quot;Tennis Club&quot; (CC BY 2.0) by Muffet
            </div>
        </a>
    </div>
</div>