<!-- the messages card that shows the latest messages by members-->
<div class="messages-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="card-content-right">
            <h2 class="mdl-card__title-text">Messages</h2>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">

    </div>
    <div class="mdl-card__menu">
        <a id="messages-image" class="card-contents-image cclink" target="_blank" href='https://www.flickr.com/photos/sanneroemen/129443399/in/photolist-crr1K-9xhb55-yCzQm-6ajvn1-9wCbT1-ETrQC-51wuYu-nZynod-7h3jEA-8hRWAh-7K9VQN-RRrVXs-54JEve-h1Qy2p-5F2Xur-4BYPHM-SMkKaw-6VXCFx-2BgWQy-3jgHk-dpESAD-6W2FVq-JW6zx-8TSSHt-8bv8Kr-evLf5B-4EzSWu-9rcDc2-c1KyYj-8TNo6H-yCzRz-7dj15a-yCzMR-hXFsA-yTsmQ-oAoBDP-9P5PYd-6MDUfj-yCzLs-S4ShPf-oqyfTc-e6ymVQ-2J3w3h-8xtxwn-hapPDV-Cs2XY-pU22E-axCwkA-vSRjD-3GR5F'>
            <img class="ccoverlay" />
            <div class="mdl-tooltip" data-mdl-for="messages-image">
                &quot;P1011548&quot; (CC BY-SA 2.0) by Sanne Roemen
            </div>
        </a>
    </div>
    <div id="message-users-list" class="mdl-card__actions mdl-card--border">
        <div id="message-users" class="card-contents">
            <span id="message-users-filler"></span>
        </div>
    </div>
</div>