<div class="friends-selection-container card-contents-container visible material-icons">
    <!-- N.B. NOTHING CAN PROCEED THE ABOVE DIV!!!!!
        Template for the display of a post in the PostsDisplay -->
    <ul class="friends-selection-list mdl-list">
        <li class="friends-selection-list-item mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <img class="friends-selection-list-icon">
                <span class="friends-selection-list-name">Mr User</span>
            <span class="friends-selection-list-email mdl-list__item-sub-title">mruser@umpyr.com</span>
            </span>
        </li>
    </ul>
</div>