<div class="card-contents-container message-contents">
    <!-- N.B. NOTHING CAN PROCEED THE ABOVE DIV!!!!!
        Template for the display of a message in the MessagesDisplay -->
    <img class="player-avatar pic">
    <span class="card-contents"></span>
    <div class="information">
        <span class="name"></span>
        <span class="message-date"></span>
        <button class="message-delete-button mdl-button mdl-js-button mdl-button--icon" hidden>
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>