<div class="card-contents-container">
    <!-- N.B. NOTHING CAN PROCEED THE ABOVE DIV!!!!!
        Template for the display of a post in the PostsDisplay -->
    <div class="spacing">
        <img class="player-avatar pic">
    </div>
    <div class="spacing">
        <div class="card-contents">
            <div class="posted-text"></div>
            <div class="posted-image"></div>
        </div>
    </div>
    <div class="information">
        <span class="name"></span>
        <span class="posted-date"></span>
        <button class="post-delete-button mdl-button mdl-js-button mdl-button--icon" hidden>
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>