service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{uid} {
    	allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  	match /users/{uid}/matches/{document=*} {
    	allow read, write, create, delete: if request.auth != null && request.auth.uid == uid;
    }
  	match /users/{uid}/inbox/{document=*} {
    	allow read, delete: if request.auth != null && request.auth.uid == uid;
    }
  	match /users/{uid}/results_months/{document=*} {
    	allow read: if request.auth != null && request.auth.uid == uid;
    }
  	match /users/{uid}/results_players/{document=*} {
    	allow read: if request.auth != null && request.auth.uid == uid;
    }
  }
}