.score-card-wide {
    width: 820px;
    border: 5px;
}

.score-card-wide>.mdl-card__title {
    color: #fff;
    align-items: flex-end;
    padding: 8px;
    float: right;
    height: 160px;
    width: 100%;
}

.welcome-card-wide {
    width: 512px;
    margin: 1rem;
}

.welcome-card-wide>.mdl-card__title {
    color: #000;
    height: 276px;
    background: url('../images/welcome_card.jpg') center / cover;
}

.user-details-card-wide {
    width: 920px;
    margin: 1rem;
}

.user-details-card-wide>.mdl-card__title {
    color: #000;
    height: 215px;
    background: url('../images/user_details_card.jpg') center / cover;
}

.matches-card-wide {
    width: 480px;
    margin: 1rem;
}

.matches-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/matches-display.jpg') center / cover;
}

.match-details-card-wide {
    width: 480px;
    margin: 1rem;
}

.match-details-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
}

.history-card-wide {
    width: auto;
    margin: 1rem;
}

.history-card-wide>.mdl-card__title {
    color: #fff;
    height: 128px;
    width: auto;
    background: url('../images/history-display.jpg') center / cover;
}

.posts-card-wide {
    width: 480px;
    margin: 1rem;
}

.posts-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/posts-display.jpg') center / cover;
}

.help-card-wide {
    width: 680px;
    margin: 1rem;
}

.help-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/help-display.jpg') center / cover;
}

.messages-card-wide {
    width: 480px;
    margin: 1rem;
}

.messages-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/messages-display.jpg') center / cover;
}

.friends-card-wide {
    width: 920px;
    margin: 1rem;
}

.friends-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/friends-display.jpg') center / cover;
}

.friends-find-card-wide {
    width: 480px;
    margin: 1rem;
}

.friends-find-card-wide>.mdl-card__title {
    color: #fff;
    height: 140px;
    width: 100%;
    background: url('../images/friends-display.jpg') center / cover;
}

.card-image-tennis {
    background: url('../images/court-tennis.jpg') center / cover;
}

.card-image-badminton {
    background: url('../images/court-badminton.jpg') center / cover;
}

.card-image-points {
    background: url('../images/score-board.jpg') center / cover;
}