<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85965429895-ukg48b96ufsncgboplitmglsm4g03gnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85965429895-ukg48b96ufsncgboplitmglsm4g03gnd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85965429895-0o1htpsuv7j30pki76ddhfluf8f1id14.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqln7nZaJ7QrSbkKZYpfa8pTFA-IU0kn4</string>
	<key>GCM_SENDER_ID</key>
	<string>85965429895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.darkerwaters.scorepal</string>
	<key>PROJECT_ID</key>
	<string>regal-campus-169014</string>
	<key>STORAGE_BUCKET</key>
	<string>regal-campus-169014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85965429895:ios:b073206923cc0ac85d2c22</string>
	<key>DATABASE_URL</key>
	<string>https://regal-campus-169014.firebaseio.com</string>
</dict>
</plist>